.maingrande{
    background-color: rgb(45, 216, 216);
    height: 120px;
}
.headermain{
    background-color: rgb(241, 243, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 5%;
}
p{
    border-radius: 5px;
    margin: 10px;
    font-size: 50px;
    width: 400px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
}
h4{
    background-color: rgb(124, 164, 187);
    border-radius: 15px;
    font-size: 25px;
    width: 160px;
    height: 36px;
    text-align: center;
    justify-content: end;
}
header{
    background-color: rgb(154, 182, 173);
    text-align: center;
    justify-items: center;
    font-size: xx-large;
    margin-top: 20px;
}
.mainprincipal{
    display: flex;
}
.mainizquierdo{
    background-color: aquamarine;
    width: 675px;
    height: 300px;
}
h1{
    background-color: blue;
    width: 650px;
    height: 200px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
.mainderecho{
    background-color: blueviolet;
    width: 675px;
}