.maingrande{
    background-image: url(../img/imagensquare.jpg_wh860.jpg);
    height: 800px;
}
.mainpequeño{
    background-color: rgb(235, 228, 228);
    height: 100px;
    display:flex;
}
header{
    background-image: url(../img/1-86b5af5e0b.jpg);
    width: 400px;
    text-align: center;
    margin: 20px;
}
.secciones{
    background-color: rgb(230, 220, 220);
    width: 400px;
    display: flex;
}
.productos{
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 30px;
    border-radius: 5px;
}
.recursos{
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 30px;
    border-radius: 5px;
}
.mainderecho{
    background-color: rgb(230, 220, 220);
    width: 550px;
    display: flex;
}
.iniciarsesion{
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 30px;
    border-radius: 5px;
}
.empezar{
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 30px;
    border-radius: 5px;
}
.sitiosweb{
    background-color: black;
    width: 1100px;
    height: 70px;
    margin: 90px;
    border-radius: 10px;
}
.lideresendiseñoweb{
    background-color: black;
    width: 1100px;
    height: 70px;
    margin:90px;
    border-radius: 10px;
}
.comenzar{
    background-color: black;
    width: 1100px;
    height: 70px;
    margin:90px;
    border-radius: 10px;
}
.piedepagina{
    background-color: rgb(214, 196, 196);
    width: 1100px;
    height: 80px;
    margin: 90px;
    border-radius: 10px;
    display: flex;
}
.plantillas{
    background-color: black;
    width: 200px;
    height: 30px;
    margin: 25px;
    border-radius: 5px;
}
.diseñointeligente{
    background-color: black;
    width: 200px;
    height: 30px;
    margin: 25px;
    border-radius: 5px;
}
.herramientascreativas{
    background-color: black;
    width: 200px;
    height: 30px;
    margin: 25px;
    border-radius: 5px;
}
.SEOyanaliticaweb{
    background-color: black;
    width: 200px;
    height: 30px;
    margin: 25px;
    border-radius: 5px;
}

