.formulario{
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    padding: 3%;
}
.menu1{
    justify-content: space-around;
}
.REDES{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}